* {
    margin: 0;
    padding: 0;
}

#add-button {
    background-color: rgb(141, 235, 141);
    border-radius: 15px;
    width: 60px;
    height: 50px;
    font-size: 30px;
    border: 0;
    cursor: pointer;
    transition: .5s;
}

#add-button:hover {
    filter: brightness(1.2);
}

h3 {
    color: purple;
}

#switch-value {
    width: 30px;
    padding: 5px;
    height: 30px;
    border: 0;
    cursor: pointer;
    border-radius: 15px;
    background-color: rgb(163, 248, 187);
    transition: .3s;
}

#switch-value:hover {
    background-color: rgb(10, 226, 71);
    transition: .3s;
}

#input-task {
    width: 350px;
    height: 50px;
    padding: 12px 24px;
    background-color: #ccc;
    border-radius: 8px;
    border: 0;
    outline: 0;
}

#remove-button {
    width: 30px;
    padding: 5px;
    height: 30px;
    border: 0;
    cursor: pointer;
    border-radius: 15px;
    background-color: rgb(226, 100, 100);
    transition: .3s;
}

#remove-button:hover {
    background-color: red;
}

.section {
    display: flex;
    justify-content: space-between;
    width: 350px;
    gap: 15px;
    background-color: #343232;
    padding: 10px;
    border-radius: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.main-section {
    display: flex;
    align-items: center;
    
    gap: 10px;
}

.main-to-do-list{
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}